.form-container {
  margin: 40px auto;
}

form.search-form {
  display: flex;
  flex-flow: row nowrap;
}

.form-control {
  color: #b2afb6;
}

.search-button,
.current-location-button {
  margin-left: 5px;
  background-color: white;
  border-color: #b2afb6;
  color: #b2afb6;
}

.search-button:hover {
  color: #4361ee;
}

.current-location-button:hover {
  color: #4361ee;
}
