.repo-link {
  width: 100%;
  text-align: center;
  margin: 20px auto 0 auto;
  bottom: 0;
  font-size: 0.8rem;
}

.repo-link a {
  color: #4361ee;
  text-decoration: none;
}

.repo-link a:hover {
  color: #ff5d73;
}
